#file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file + label {
  font-size: 1.25em;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #ddd;
  font-size: 14px;
  opacity: 1;
  padding: 5px 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
}

.submit-button {
  margin-left: 8px;
  background-color: #129665;
  border: 1px solid #0b7047;
  outline: none;
  color: #fff;
}

input[type="text"] {
  padding: 5px 8px;
  font-size: 14px;
  border: 1px solid #ddd;
}

/* #file:focus + label,
#file + label:hover {
  background-color: red;
} */