<div class="backdrop" *ngIf="loading"></div>
<div class="spinner" *ngIf="loading">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div class="row container-row">
  <button type="button" routerLink="/challenges">Back</button>
</div>

<section class="responses" *ngIf="submission?.messages?.length">
  <div class="row container-row">
    <h2>Boxaroo Responses:</h2>
    <span *ngFor="let message of submission?.messages">
      <span class="font-heavy">{{message.createdAt | date : 'shortTime'}}: </span> {{message.text}}
      <br/>
    </span>
    <hr>
  </div>
</section>

<div class="row container-row">
  <h2>{{challenge?.physical_map_id}}.  {{challenge.short_name}}</h2>
  <p>{{challenge.description}}</p>
  <p>{{challenge.point_value}} points | {{(challenge.challenge_type === 'text' ? 'word puzzle' : 'picture puzzle') | titlecase}}
    <fa-icon [icon]="challenge.challenge_type === 'image' ? faCamera : faPenSquare"></fa-icon>
  </p>
  <p *ngIf="challenge.specific">Details: {{challenge.specific}}</p>
  <hr>
  <div class="submission" *ngIf="submission">
    <h3>Challenge Status: {{submission.status}}</h3>
    <h3 class="guess">Your guess(es)</h3>
    <div class="guess" *ngFor="let attempt of submission.attempts">
      <div class="text" *ngIf="attempt.text">
        <span class="font-heavy">{{attempt.createdAt | date : 'shortTime'}}:</span> {{attempt.text}}
      </div>
      <div class="image-submission" *ngIf="attempt.imageUrl">
        <span class="font-heavy">{{attempt.createdAt | date : 'shortTime'}}:</span>
        <a [attr.href]="sanitize(attempt.imageUrl)" target="_new">
          <img class="image-submission" [src]="sanitize(attempt.imageUrl)" />
        </a>

      </div>
    </div>
  </div>

  <div class="error-message" *ngIf="error">
    <div class="font-heavy">{{error}}</div>
  </div>

  <div class="form-container" *ngIf="!challenge.completed" [ngSwitch]="challenge.challenge_type">
    <form #inputForm *ngSwitchCase="'text'">
      <input [disabled]="loading" #textSubmission placeholder="enter submission here" type="text" maxlength="50">
      <button class="submit-button" [disabled]="loading || error" #submitTextBtn>Submit</button>
    </form>
    <form #inputForm *ngSwitchCase="'image'">
      <input [disabled]="loading" #imageSubmission type="file" id="file" accept="image/*" (change)="handleFileInput($event.target.files)">
      <label #fileLabel for="file">Choose a file</label>
      <button class="submit-button" [disabled]="loading || error" #submitImageBtn>Submit</button>
    </form>
  </div>
</div>