.row.submission {
  list-style: none;
  margin: 10px auto;
  padding: 10px 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}


@media (min-width: 500px) {
  button.section-select {
    padding: 0 5px;
  }
}

button.section-select {
  padding: 0;
  width: 100%;
}

.row .col-4.selected button {
  background-color: #333447;
  color: #fbfcf4;
  transition: all 0.2s;
}

fa-icon {
  cursor: pointer;
}