<div class="row">
  <div class="col-12 col-12-sm">
    <h3>
      Team Submissions
      <fa-icon [pull]="'right'" (click)="refresh()" [icon]="faSincAlt" [size]="'2x'"></fa-icon>
    </h3>
  </div>
</div>
<hr>
<div class="row">
  <div [ngClass]="{'selected': groupToShow===i}" class="col-4 col-4-sm" *ngFor="let group of [pending, responded, completed];let i=index;">
    <button type="button" class="section-select" (click)="groupToShow = i">{{['Pending', 'Responded', 'Completed'][i]}}</button>
    <div class="info">{{[pending,responded,completed][i].length}} Items</div>
  </div>
</div>
<div class="row submission" *ngFor="let submission of [pending,responded,completed][groupToShow]">
  <div class="col-12">
    <app-submission (OnRequestEnd)="handleResponse($event)" (OnRequestStart)="requestStart($event)" [submission]="submission"
      [challenge]="getChallenge(submission.challenge_id)"></app-submission>
  </div>
</div>


<div class="backdrop" *ngIf="loading">

</div>
<div class="spinner" *ngIf="loading">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>