.challenge {
  padding: 5px;
  background: url('/assets/dragon_tileable-scroll.svg');
  background-size: cover;
  background-repeat: repeat-y;
  margin-bottom: 15px;
}

.inner-challenge {
  padding: 10px 25px;
}

h2.heading-2 {
  margin: 0;
}

h3 {
  padding: 5px 10px;
}

h3.tab {
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s;
  text-align: center;
  font-weight: 400;
}
h3.tab:active {
  opacity: 0.3;
  transition: all 0.2s;
}
h3.active {
  background-color: #129665;
  color: #fff;
  transition: all 0.2s;
}

.notification div {
  float: right;
}

.notification .message-waiting {
  color: orange;
}
.notification .attempt-badge {
  color: #129665;
}

.points {
  margin-top: 15px;
}

button#refresh-button {
  float: right;
}