<div class="backdrop" *ngIf="loading"></div>
<div class="spinner" *ngIf="loading">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div class="row container-row">
  <div class="col-6 col-6-sm">
    <button type="button" routerLink="/home">Back</button>
  </div>
  <div class="col-6 col-6-sm">
    <button id="refresh-button" type="button" (click)="refresh()">Refresh</button>
  </div>
</div>

<div class="row container-row" *ngIf="(challengeModel | async) as model">
  <div class="row">
    <h2 class="heading-2">Challenges:</h2>
    <div class="col-6 col-6-sm" *ngFor="let challenges of [model.incomplete, model.complete]; index as i">
      <h3 class="tab" [ngClass]="{active: showGroup === i}" (click)="showGroup = i">{{i === 0 ? 'Incomplete' : 'Complete'}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="challenge col-6 col-12-sm" (click)="onClick(challenge)" *ngFor="let challenge of  [model.incomplete, model.complete][showGroup]"
      [ngClass]="{completed:challenge.completed}">
      <div class="inner-challenge">
        <div class="notification" [ngSwitch]="challenge?.submission?.status">
          <div class="message-waiting" *ngSwitchCase="'responded'">Message from Boxaroo!</div>
          <div class="attempt-badge" *ngSwitchCase="'pending'">Submitted</div>
        </div>
        <div class="title font-semibold">{{challenge?.physical_map_id}}.  {{challenge.short_name}}
          <fa-icon [styles]="{'margin-left': '5px'}" [size]="'1x'" [icon]="challenge.challenge_type === 'image' ? faCamera : faPenSquare"></fa-icon>
        </div>

        <div class="challenge-content" [innerHTML]="challenge.description"> </div>
        <div class="points">{{challenge.point_value}} points</div>
      </div>
    </div>
  </div>