<button type="button" *ngIf="submission.status === 'completed'" (click)="showCompleted = !showCompleted">Show Completed Details</button>
<div class="submission-container" *ngIf="submission && (showCompleted || submission.status !== 'completed')">
  <p *ngIf="submission?.attempts?.slice(-1).pop() as lastAttempt">
    <span class="font-heavy">{{submission.team_name}}</span> submitted
    <a *ngIf="lastAttempt.imageUrl" [attr.href]="sanitize(lastAttempt.imageUrl)" target="_new">
      <img class="image-submission" [src]="sanitize(lastAttempt.imageUrl)" />
    </a>
    <span class="font-heavy" *ngIf="lastAttempt.text">{{lastAttempt.text}}</span>
    for
    <span class="font-heavy">{{challenge?.short_name}}</span>
    at
    <span class="font-heavy">{{lastAttempt.createdAt | date : 'shortTime'}}</span>
  </p>


  <div class="row">
    <button type="button" #approveButton class="col-3 approve">Approve</button>
    <button type="button" #denyButton class="col-3 deny">Deny</button>
  </div>

  <button type="button" *ngIf="submission?.attempts?.slice(0,-1).length" (click)="showAllAttempts = !showAllAttempts">Show All Attempts</button>

  <div class="row" *ngIf="showAllAttempts">
    <div class="text-guess" *ngFor="let attempt of submission.attempts.slice(0,-1)">
      <div class="font-heavy">{{attempt.createdAt | date : 'shortTime'}}: </div>
      <a *ngIf="attempt.imageUrl" [attr.href]="sanitize(attempt.imageUrl)" target="_new">
        <img class="image-submission" [src]="sanitize(attempt.imageUrl)" />
      </a>
      <div class="text-submission" *ngIf="attempt.text">{{attempt.text}}</div>
    </div>
  </div>

  <button type="button" *ngIf="submission?.messages?.length" (click)="showMessages = !showMessages">Show Messages</button>
  <div *ngIf="showMessages">
    Boxaroo Messages:
    <div *ngFor="let message of submission.messages ">
      <span class="font-heavy">{{message.createdAt | date : 'shortTime'}}:</span> {{message.text}}
    </div>
  </div>
</div>