<div class="row" *ngIf="!auth.isAuthenticated()">
  <div class="col-3 col-3-sm"></div>
  <div class="col-6 col-6-sm">
    <p class="font-heavy centered">Welcome, {{teamName}}, to {{title}}!</p>
    <div id="knights-welcome" alt="knights welcoming the player"></div>
  </div>
  <div class="col-3 col-3-sm"></div>
</div>

<form class="row login-row" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" *ngIf="!auth.isAuthenticated(); else mainNav">
  <div class="col-12 col-12-sm centered">
    <input formControlName="password" type="text" placeholder="Enter your password" name="password">
    <button class="login-button" type="submit">Log In</button>
  </div>
</form>

<ng-template #mainNav>
  <div class="row container-row">
    <div class="col-12 col-12-sm">
      <button id="refresh" type="button" (click)="refresh()">Refresh</button>
    </div>
  </div>
  <div class="row container-row">
    <div class="col-5 col-5 -sm">
      <form id="#main-navigation">
        <div>
          <section class="challenges">
            <h3>Current Reputation Points:
              <br>
              <span>{{teamScore | async}}</span> /
              <span>{{totalScore}}</span>
            </h3>

            <button id="challenge-button" type="button" *ngIf="auth.isAuthenticated()" routerLink="/challenges">View Challenges</button>
          </section>
        </div>
        <div>
          <section class="diary">
            <h3>Journal Entries Unlocked:
              <br> {{teamDiariesCount}} / 10</h3>

            <button id="journal-button" type="button" *ngIf="auth.isAuthenticated()" routerLink="/diary">View Journal</button>
          </section>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<div class="error-message" *ngIf="errorMessage">Something went wrong</div>