.centered {
  text-align: center;
  line-height: 1.5;
}

.login-button {
  margin-left: 10px;
}

#knights-welcome {
  margin: 0 auto;
  background: url('/assets/knights_only.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  display: block;
}

button.login-button {
  border-color: #129665;
}

input {
  padding: 5px 8px;
  font-size: 14px;
  border: 1px solid #ddd;
}


#refresh {
  width: 100%;
  background-color: #129665;
  border: 1px solid #0b7047;
  outline: none;
  color: #fff;
}

#journal-button,
#challenge-button {
  margin: 0 auto;
  width: 100%;
}


h3 {
  text-align: center;
}