<div class="row container-row">
  <div class="col-12-sm col-12">
    <button type="button" routerLink="/home">Back</button>
    <h3>Journal of Sir Somerville</h3>
    <app-entries></app-entries>
  </div>
</div>