<div class="container">
  <div class="row banner-row" *ngIf="auth.isAuthenticated() && auth.isAdmin(); else nonAdmin">
    <a class="col-3 col-3-sm" routerLink="/home">
      <img src="assets/frontpage-boxaroologo-black.png" />
    </a>
    <button type="button" class="col-3 col-4-sm" routerLink="/admin">Admin</button>
    <div class="col-3 col-1-sm"></div>
    <button type="button" class="col-3 col-4-sm logout" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>
  </div>

  <ng-template #nonAdmin>
    <div class="row banner-row">
      <a class="col-3 col-3-sm" routerLink="/home">
        <img src="assets/frontpage-boxaroologo-black.png" />
      </a>
      <div class="col-6 col-6-sm"></div>
      <button type="button" class="col-3 col-3-sm logout" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>
    </div>
  </ng-template>

  <div class="end-message" *ngIf="headHome">
    <h2>These challenges are closed. Head back to the Waterfront Park to face the Dragon!</h2>
  </div>

  <router-outlet></router-outlet>
</div>