.row.banner-row {
  background-color: #f1f5cd;
  color: rgba(255, 255, 255, 0.9);
}

.row.banner-row img {
  width: 100%;
}

.row.banner-row button {
  padding: 0;
}

#banner {
  /* background-image: url('/assets/banner.png'); */
}

.end-message {
  padding: 8px 16px;
  line-height: 1.1;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .row.banner-row img {
  }
}
