<div class="no-entries" *ngIf="!(entries | async)?.length">
  No entries yet, keep trying challenges to unlock journal entries
</div>
<div class="scroll" [ngStyle]="{'background-size': shownIndex === i ? 'contain' : 'cover'}" *ngFor="let entry of entries | async; index as i;" (click)="shownIndex = shownIndex === i ? null : i">
  <div class="scroll-content">
    <p class="font-heavy entry-date">
      {{entry.date}}
      <fa-icon [styles]="{'margin-left':'10px'}" [icon]="shownIndex === i ? faMinusSquare : faPlusSquare" ></fa-icon>
    </p>
    <div *ngIf="shownIndex === i" class="entry-content" [innerHTML]="entry.text"></div>
  </div>
</div>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>