.scroll {
  background: url('/assets/dragon_tileable-scroll.svg');
  background-size: contain;
  background-repeat: repeat-y;
  margin-bottom: 15px;
}

.scroll-content {
  padding: 25px;
}
/deep/.entry-content {
  padding: 8px 25px;
}

/deep/.entry-content * {
  color: #000;
}
/deep/.entry-content p {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

.no-entries {
  text-align: center;
}