<h1>Admin Login</h1>
<h2>Sign In</h2>
<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
  <div class="">
    <label for="username">Username</label>
    <input formControlName="username" type="text" placeholder="Enter your username" name="username">
  </div>
  <div class="">
    <label for="password">Password</label>
    <input formControlName="password" type="password" placeholder="Enter your password" name="password">
  </div>
  <div class="">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<h2>Sign Up</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit(signupForm.value)">
  <div class="">
    <label for="username">Username</label>
    <input formControlName="username" type="text" placeholder="Enter your username" name="username">
  </div>
  <div class="">
    <label for="password">Password</label>
    <input formControlName="password" type="password" placeholder="Enter your password" name="password">
  </div>
  <div class="">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>