body {
  background: #fbfcf4;
}

* {
  font-family: 'Raleway', sans-serif;
}

button {
  font-size: 14px;
  opacity: 1;
  padding: 5px 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  transition: all 0.2s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

img.image-submission {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid orange;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner {
  display: block;
  position: fixed;
  left: calc(50% - 25px);
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  z-index: 301;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  z-index: 301;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  z-index: 301;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  z-index: 301;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  z-index: 301;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  z-index: 301;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.row.container-row {
  width: calc(100% - 32px);
  padding: 8px 16px;
}